<h1>Usuários Cadastrados:</h1>
<div class="user-container">
    {{#each info}}
        <div class="user">
            <div class="user-name">{{this.name}}</div>
            <div class="user-occupation">{{this.occupation}}</div>
            <div class="actions">
                <a href="/user/{{this.id}}" class="details-btn">Ver detalhes</a>
                <a href="/user/edit/{{this.id}}">Editar</a>
                <form action="/user/remove{{this.id}}" method="POST">
                    <input type="submit" class="delete-btn" value="Excluir">
                </form>
            </div>
        </div>
    {{/each}}
</div>
